<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Just demo!</title>
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
.caption{height:8rem;}	
.center{text-align:center;}
</style>
</head>
<body>
<div class="container" id="app">

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="center">Just demo!</h1>
	</div>
</div>

<div class="row"><h1>图片新闻</h1></div>

<div class="row" >
 <div class="col-md-3" v-for="v in all">
    <a class="thumbnail" :href="v.url" target="_blank">
            <img :src="v.img" :alt="v.title">
            <div class="caption">
                <h3>{{v.title}}</h3>
            </div>
   </a>
 </div>	
</div>

<div class="row" >
 <template v-for="vv in list">
 <div class="col-md-3" v-for="v in vv.pics">
    <a class="thumbnail" :href="v.url" target="_blank">
            <img :src="v.img" :alt="v.title">
            <div class="caption">
                <h3>{{v.title}}</h3>
            </div>
   </a>
 </div>	
 </template>
</div>

<!-- 历史 -->
<div class="row"><h1>历史新闻</h1></div>

<div class="row">
 <div class="col-md-6 list-group">

    <a :href="v.newsurl" class="list-group-item" target="_blank" v-for="v in news">
        <h4 class="list-group-item-heading">
            {{v.newstitle}}
        </h4>
        <p class="list-group-item-text">{{v.pdate}}--来自：{{v.src}}</p>
    </a>
    

 </div>	

 <div class="col-md-6 list-group">

 	<div class="row list-group-item" v-for="v in imgs">
 		<div class="col-md-9">
		 	<a :href="v.newsurl" target="_blank">
		        <h4 class="list-group-item-heading">
		            {{v.newstitle}}
		        </h4>
		    </a>
		    <p class="list-group-item-text">{{v.pdate}}--来自：{{v.src}}</p>		
 		</div>
 		<div class="col-md-3">
 			<div class="thumbnail">
 				<img :src="v.imgurl" alt="">
 			</div>
 		</div>
 	</div>
    

 </div>
</div>




</div>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>	
<script src="https://cdn.bootcss.com/vue/2.2.4/vue.min.js"></script>
<script>

new Vue({
	el:"#app",
	data:{
     news:"",
     imgs:"",
     list:"",
     all:"",
	},
	created:function(){
	 this.getlishi();
	 this.getnews();
	 this.getall();
	},
	methods:{
	getall:function(){
    	var url="http://sh.qihoo.com/api/lmapi.json";
    	var _this=this;
    	$.ajax({
    		url:url,
    		dataType:"jsonp",
    		success:function(d){
    			//console.log(d);
    		  if(d.length>0){
                _this.all=d;
    		  }	
    		}
    	})
    },	
    getnews:function(){
    	var url="http://sh.qihoo.com/api/lmapi.json?type=reso";
    	var _this=this;
    	$.ajax({
    		url:url,
    		dataType:"jsonp",
    		success:function(d){
    			//console.log(d);
    		  if(d.length>0){
                _this.list=d;
    		  }	
    		}
    	})
    },
    getlishi:function(){
    	var url="http://sh.qihoo.com/api/sort_new_2015.json?callback=callback&f=jsonp&c=lishi";
    	var _this=this;
	    $.ajax({
			url:url,
			dataType:"jsonp",
			success:function(d){
				
			if(d.msg=="succ"){
				//console.log(d);
				_this.news=d.data.lishi.list;
				_this.imgs=d.data.lishi.img;
			}		
		   }
	    })
    }
	}
})
</script>

</body>
</html>
